<!DOCTYPE html>
<html>

<head>
	<script src="https://kit.fontawesome.com/66d3b574e9.js" crossorigin="anonymous"></script>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<h1>
		<a href="/" title="back to civilization">JATAN PANDYA</a>
	</h1>
	<div class="container">
		{{ content }}
	</div>
	<footer>
		<center>
			<br />
			&copy 2021 Jatan Pandya; All rights reserved
			<br />
			<script language="Javascript">
				document.write("last updated on: " + document.lastModified + "");
			</script>
		</center>
	</footer>
</body>

</html>